<!-- header -->
<div class="section-header">
  <h1>User Claims</h1>
  <p *ngIf="!!clientUser" class="grey-text pt-3">{{ clientUser.firstName + ' ' + clientUser.lastName }}</p>
</div>

<div class="container">

  <div class="col-md-12" style="margin-bottom: 20px;">
    <button mat-button mat-raised-button color="primary" (click)="addUserClaim()">Add New User Claim</button>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>

  <div class="example-container mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

      <!-- claimType Column -->
      <ng-container matColumnDef="claimType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> claimType </th>
        <td mat-cell *matCellDef="let element"> {{ element.claimType }} </td>
      </ng-container>

      <!-- claimValue Column -->
      <ng-container matColumnDef="claimValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> claimValue </th>
        <td mat-cell *matCellDef="let element"> {{ element.claimValue }} </td>
      </ng-container>

      <!-- menu Column -->
      <ng-container matColumnDef="user-actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index;">

          <button class="margin-left5" (click)="deleteUserClaim(element)" mat-mini-fab color="warn" aria-label="delete">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="allDisplayedColumns.length">
          {{countItems + ' items'}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="allDisplayedColumns; sticky: true"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: allDisplayedColumns;"></tr> -->
      <tr mat-row *matRowDef="let element; columns: allDisplayedColumns;" class="example-element-row"></tr>
      <tr mat-footer-row *matFooterRowDef="['disclaimer']; sticky: true" class="example-second-footer-row"></tr>

    </table>

  </div>


</div>