<div class="container row">

  <div class="details-container col">

    <mat-card>
      <mat-card-content>
        <section class="example-section">
          <!-- <P>Password: {{password}}</P> -->
          <P>Score: {{passwordStrength}}</P>
          <mat-progress-bar class="example-margin" [color]="color" mode="determinate" [value]="passwordStrength">
          </mat-progress-bar>
        </section>
        <section class="example-section">
          Complexity: {{complexity}}
        </section>
      </mat-card-content>
    </mat-card>

    <mat-card class="section">
      <mat-card-content>
        <p><mat-icon class="exceptional">gpp_good</mat-icon> <strong>Exceptional:</strong> Exceeds minimum standards. Additional bonuses are applied.</p>
        <p><mat-icon class="sufficient">thumb_up_alt</mat-icon> <strong>Sufficient:</strong> Meets minimum standards. Additional bonuses are applied.</p>
        <p><mat-icon class="warning">error</mat-icon> <strong>Warning:</strong> Advisory against employing bad practices. Overall score is reduced.</p>
        <p><mat-icon class="failure" >dangerous</mat-icon> <strong>Failure:</strong> Does not meet the minimum standards. Overall score is reduced.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="section">
      <mat-card-content>
        <p><strong>Flat:</strong> Rates that add/remove in non-changing increments.</p>
        <p><strong>Incr:</strong> Rates that add/remove in adjusting increments.</p>
        <p><strong>Cond:</strong> Rates that add/remove depending on additional factors.</p>
        <p><strong>Comp:</strong> Rates that are too complex to summarize. See source code for details.</p>
        <p><strong>n:</strong> Refers to the total number of occurrences.</p>
        <p><strong>len:</strong> Refers to the total password length.</p>
        <p>Additional bonus scores are given for increased character variety.</p>
        <p>Final score is a cumulative result of all bonuses minus deductions.</p>
        <p>Score and Complexity ratings are not conditional on meeting minimum requirements.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="example-container mat-elevation-z8 col">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <!-- ['legend', 'description', 'type', 'rate', 'count', 'bonus']; -->
      <!-- menu Column -->
      <ng-container matColumnDef="legend">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index;">

          <!-- *hasClaim="'EditProduct'" -->
          <button [ngClass]="element.getLegend()" mat-mini-fab color="primary" matTooltip="legend">
            <mat-icon>{{element.getLegendIcon()}}</mat-icon>
          </button>

        </td>
      </ng-container>

      <!-- productName Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>

      <!-- productName Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
      </ng-container>

      <!-- start Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> rate </th>
        <td mat-cell *matCellDef="let element"> {{ element.rate }} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> count </th>
        <td mat-cell *matCellDef="let element"> {{ element.count }} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef> bonus </th>
        <td [ngClass]="element.getLegend()" mat-cell *matCellDef="let element"> {{ element.bonus }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="allDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: allDisplayedColumns;" class="example-element-row"></tr>
    </table>

  </div>


</div>