.section-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-section{
  margin-top: 4px;
  margin-bottom: 4px;
}

.grey-text{
  color: #777;
}

.margin-left5{
  margin-left: 5px;
}
  
  .container {
    /* margin-top: 20px; */
    margin-bottom: 20px;
  }
  
  .example-container {
    max-width: 700px;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .details-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 90px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 110px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .example-second-footer-row td {
    color: #900000;
  }
  
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0;
    padding-inline-start: 24px;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    max-width: 200px;
}

.Exceptional{
  background-color: darkblue;
  color: white;
}

.Sufficient{
  background-color: darkgreen;
  color: white;
}

.Warning{
  background-color: darkorange;
  color: white;
}

.Failure{
  background-color: darkred;
  color: white;
}

.exceptional{
  color: darkblue;
}

.sufficient{
  color: darkgreen;
}

.warning{
  color: darkorange;
}

.failure{
  color: darkred;
}