mat-sidenav-content{
    height: 85vh;
}

.example-spacer {
    flex: 1 1 auto;
}

.margin-left5{
    margin-left: 5px;
}

mat-toolbar a.active {
    background-color: rgb(47 60 134);
    color: white;
}

mat-toolbar a:active {
    background-color: rgb(47 60 134);
    color: white;
}

mat-toolbar a:hover {
    background-color: rgb(47 60 134);
    color: white;
}

mat-toolbar a:focus-visible {
    background-color: rgb(47 60 134);
    color: white;
}
